.main-title {
    text-align: center;
    font-family: serif;
    padding: 2px;
    background-color: rgb(45, 45, 115);
    color: white;
}

.main {
    display: flex;
    justify-content: space-around;
}

.main-content {
    padding: 12px;
    border: 1px solid;
    min-width: 560px;
}

.right-content{
    display: none;
    min-height: 500px;
}

.input {
    border: 0px solid;
    padding: 12px;
    background-color: beige;
    border-radius: 8px;
    padding: 12px;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=number]:focus {
    border: 3px solid #555;
  }

.main-button {
    background-color: aqua;
    height: 32px;
    border: 2px solid rgb(241, 241, 118);
    border-radius: 8px;
}

.button-reset {
    background-color: aliceblue;
    height: 32px;
    border: 2px solid rgb(241, 241, 118);
    border-radius: 8px
}

.hasil {
    text-align: center;
    border: 0px solid;
    padding: 12px;
    background-color: beige;
    border-radius: 8px;
    padding: 8px;
}

.artikel-hasil {
    text-align: center;
}

.artikel-tambahan {
    text-align: center;
    border: 0px solid;
    padding: 12px;
    background-color: beige;
    border-radius: 8px;
    padding: 8px;
}

.download{
    text-align: center;
}

img{
    margin-top: 0px;
    width: 120px;
}


